@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat400';
  src: url('@/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat300';
  src: url('@/assets/fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat500';
  src: url('@/assets/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'semibold';
  src: url('@/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'bold';
  src: url('@/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'montserrat400', sans-serif;
  letter-spacing: normal;
  background-color:#0A0A0E;
}

.swiper {
  width: 100%;
  height: 440px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .swiper {
    width: 100%;
    height: 260px;
  }
}
@media (max-width: 767px) {
  .swiper {
    width: 100%;
    height: 260px;
  }
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
/* Scrollbar ning umumiy uslubi */
::-webkit-scrollbar {
  width: 8px; /* Vertikal scroll kengligi */
  height: 8px; /* Gorizontal scroll balandligi */
}

/* Scrollbar trek (yo'lak) uslubi */
::-webkit-scrollbar-track {
  background: #0A0A0E; /* Track rangi */
  border-radius: 10px; /* Burchaklarni yumaloqlash */
}

/* Scrollbar thumb (harakatlanuvchi qismi) uslubi */
::-webkit-scrollbar-thumb {
  background: #080D75; /* Thumb rangi */
  border-radius: 10px; /* Burchaklarni yumaloqlash */
}

/* Hover effekti */
::-webkit-scrollbar-thumb:hover {
  background: #0A0A0E; /* Hover paytida rangi o'zgaradi */
}
